* {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #cecece;
  margin: 0;
}
.interface {
  width: 1170px;
  margin: auto;
}
header {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
header nav img {
  display: inline-block;
}
header nav ul {
  display: inline-block;
  float: right;
  margin-top: 10px;
}
header nav ul li {
  display: inline-block;
  margin-left: 10px;
}
header nav ul li a {
  color: #282e2b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #5c6761;
}
