* {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
}

header nav img {
  display: inline-block;
}
header nav ul {
  display: inline-block;
  float: right;
  margin-top: 10px;
}
header nav ul li {
  display: inline-block;
  margin-left: 10px;
}
header nav ul li a {
  color: #282e2b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #5c6761;
}
/* SESSÃO HOME*/
section#home {
  color: white;
  background-image: url("../images/fundo-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#home main {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
}
section#home main div {
  margin: auto 20px;
}
section#home h1 {
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
section#home p {
  font-size: 14pt;
  text-align: center;
}
/*sessão sobre*/
section#sobre {
  background-color: #fff;
  color: #282e2b;
}
section#sobre main {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}
section#sobre main div.conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#sobre main div.conteudo div {
  margin: 0 20px;
}
section#sobre h1 {
  font-size: 30pt;
  margin: 20px 0 0 0;
  font-weight: bolder;
  text-transform: uppercase;
}
section#sobre div.titulo div.borda {
  background-color: #282e2b;
  width: 80px;
  height: 6px;
  margin-bottom: 20px;
  border-radius: 10px;
}
section#sobre p {
  text-align: justify;
  text-indent: 50px;
}
/*sessão portfolio*/
section#portfolio {
  background-color: #282e2b;
  color: #fff;
}
section#portfolio main.interface {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}
section#portfolio main.interface div.conteudo {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: center;
}
section#portfolio h1 {
  font-size: 30pt;
  margin: 20px 0 0 0;
  font-weight: bolder;
  text-transform: uppercase;
}
section#portfolio div.titulo div.borda {
  background-color: #fff;
  width: 80px;
  height: 6px;
  margin-bottom: 20px;
  border-radius: 10px;
}

section#portfolio div.conteudo figure {
  background-color: #fff;
  color: #282e2b;
  border-radius: 10px;
}
section#portfolio div.conteudo figure img {
  border-radius: 10px;
}
section#portfolio div.conteudo figure figcaption {
  padding: 5px 0;
}
section#portfolio div.conteudo figure figcaption h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16pt;
}
section#portfolio div.conteudo figure figcaption p {
  margin: 0;
  text-align: center;
}
/* SESSÃO EQUIPE */
section#equipe {
  background-color: #fff;
  color: #282e2b;
}
section#equipe main.interface {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}
section#equipe main div.titulo h1 {
  font-size: 30px;
  margin: 20px 0 0 0;
  font-weight: bolder;
  text-transform: uppercase;
}
section#equipe main div.titulo div.borda {
  background-color: #282e2b;
  width: 80px;
  height: 6px;
  margin-bottom: 20px;
  border-radius: 10px;
}

section#equipe main div.conteudo {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  justify-content: center;
}
section#equipe main div.conteudo figure {
  padding: 2px 30px;
  margin: 0 5px;
  border: 1px solid #cecece;
  border-bottom: 4px solid green;
}
section#equipe main div.conteudo figcaption h3 {
  text-align: center;
  font-weight: bold;
  margin: 0;
}
section#equipe main div.conteudo figcaption p {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
}
/*SESSÃO CONTATO*/
section#contato {
  background-image: url("../images/fundo-contato.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
section#contato main.interface {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}
section#contato main div.titulo h1 {
  font-size: 30px;
  margin: 20px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
}
section#contato main div.titulo div.borda {
  background-color: #fff;
  width: 80px;
  height: 6px;
  margin-bottom: 20px;
}

section#contato main div.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section#contato main div.conteudo div#mapa {
  background-color: #cecece;
  width: 100%;
  height: 350px;
}
section#contato main div.conteudo div.formulario{
  width: 400px;
  margin-left: 10px;
}
section#contato main div.conteudo form {
  display: flex;
  flex-direction: column;
}
section#contato main div.conteudo form input{
  height: 30px;
  margin-bottom: 10px;
}
section#contato main div.conteudo form textarea{
  height: 100px;
  margin-bottom: 10px;
}
section#contato main div.conteudo form button {
  width:100px;
  font-weight: bold;
}
/*SESSAO FOOTER*/
footer{
  background-color: #282e2b;
  color: white;
}
footer main.interface{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
